<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OBW2021 by STAR9701</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            padding: 2em;
            font-family: Consolas, Menlo, "Courier New", Courier, monospace;
            word-spacing: -.15em;
            font-size: 100%;
        }
        h1 {
            font-weight: 700;
        }
        h1, p {
            margin: 0 0 0.7em 0;
            font-size: 1em;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<h1>OBW2021 by STAR9701</h1>
<p>Bangunlah wahai teman-temanku<br>
    Berkorban segenap tenagamu<br>
    Bersama berusaha memajukan bangsa<br>
    Serta tanah air kita<br>
    Bangunlah tuntut segala ilmu<br>
    Tunjukkan kebaktianmu<br>
    Jangan membuang masa<br>
    Dengannya sia-sia<br>
    Kerana ilmu panduan hidup</p>
<!-- Simply repeat <p> tags for additional details or contact information -->
</body>
</html>
