{% extends 'base.html.twig' %}

{% block page_title %}Change Password{% endblock %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4 flex-column flex-md-row">
        <div class="mb-3 mb-md-0"><span class="text-muted font-weight-light"></span> Change Password</div>
    </h4>

    {% embed 'flash.html.twig' %}{% endembed %}

    {{ form_start(form, { 'action': url('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_errors(form) }}
    <div class="card">
        <div class="card-body">
            {{ form_row(form.current_password) }}
            {{ form_row(form.plainPassword) }}

            <div class="row mt-4">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary rounded-pill">Update My Password</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form) }}
{% endblock content %}
