{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Change Password</button>&nbsp;
    </div>
{{ form_end(form) }}
