{% trans_default_domain 'FOSUserBundle' %}

<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image: url({{ asset('assets/images/login_bg.jpg') }});">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="authentication-inner py-5">

        <div class="card">
            <div class="p-4 p-sm-5">
                <!-- Logo -->
                <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                    <div class="w-100 position-relative">
                        <img src="{{ asset('assets/registration/img/obw21-logo.png') }}" alt="" class="img-fluid">
                    </div>
                </div>
                <!-- / Logo -->

                {% if error %}
                    <div class="alert alert-danger mb-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <!-- Form -->
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="form-group">
                        <label class="form-label">Email Address</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" tabindex="1">
                    </div>
                    <div class="form-group">
                        <label class="form-label d-flex justify-content-between align-items-end">
                            <div>Password</div>
                            <a href="{{ url('fos_user_resetting_request') }}" class="d-block small">Forgot Password</a>
                        </label>
                        <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" tabindex="2">
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-0">
                        <label class="custom-control custom-checkbox m-0">
                            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me">
                            <span class="custom-control-label">{% trans %}security.login.remember_me{% endtrans %}</span>
                        </label>
                        <button type="submit" id="_submit" name="_submit" class="btn btn-primary rounded-pill waves-effect">{% trans %}security.login.submit{% endtrans %}</button>
                    </div>
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                </form>
                <!-- / Form -->

            </div>
        </div>

    </div>
</div>
