{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% block page_title %}{% trans from "FOSUserBundle"%}layout.login{% endtrans %}{% endblock %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/pages/authentication.css') }}">
{% endblock %}

{% block layout_wrapper %}
    {{ include('bundles/FOSUserBundle/Security/login_content.html.twig') }}
{% endblock %}
