{% extends 'base.html.twig' %}

{% trans_default_domain 'page.user' %}

{% form_theme form _self %}

{% block page_title %}{% trans from 'navigation' %}users.invite{% endtrans %}{% endblock %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4 flex-column flex-md-row">
        <div class="mb-3 mb-md-0"><span class="text-muted font-weight-light">{% trans from 'navigation' %}manage_users{% endtrans %} /</span> {{ block('page_title') }}</div>
    </h4>

    {{ form_start(form) }}
    {{ F }}
    <div class="card">
        <div class="card-body">
            <div class="text-light mb-3">Existing User Information</div>
            {{ form_row(form.username) }}
        </div>
        <hr class="m-0">
        <div class="card-body">
            <div class="text-light mb-3">User Access</div>
            {{ form_widget(form.role) }}
        </div>
    </div>

    <div class="text-right mt-3">
        <button type="submit" class="btn btn-primary">Invite</button>&nbsp;&nbsp;
        <a href="{{ url('invite_code_index') }}" class="btn btn-default">Cancel</a>
    </div>
    {{ form_widget(form.id) }}
    {{ form_widget(form._token) }}
    {{ form_end(form) }}
{% endblock %}

