{% extends 'base.html.twig' %}

{% block page_title %}Add User{% endblock %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4 flex-column flex-md-row">
        <div class="mb-3 mb-md-0"><span class="text-muted font-weight-light">Administration / Manage Users / </span> {{ block('page_title') }}</div>
    </h4>

    {{ form_start(form) }}
    <div class="card">
        <div class="card-body">
            <div class="text-light mb-3">Login Information</div>
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.enabled) }}
        </div>
        <hr class="m-0">
        <div class="card-body">
            <div class="text-light mb-3">User Details</div>
            {{ form_row(form.profile.fullName) }}
            {{ form_row(form.profile.imageFile) }}
        </div>
        <hr class="m-0">
        <div class="card-body">
            <div class="text-light mb-3">User Type</div>
            {{ form_widget(form.role) }}
        </div>
    </div>

    <div class="text-left mt-3">
        <button type="submit" class="btn btn-primary rounded-pill">Add</button>&nbsp;&nbsp;
        <a href="{{ url('user_index') }}" class="btn btn-default rounded-pill">Cancel</a>
    </div>

    {{ form_widget(form._token) }}
    {{ form_end(form) }}
{% endblock %}

