{% trans_default_domain 'FOSUserBundle' %}

<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image: url({{ asset('assets/images/login_bg.jpg') }});">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="authentication-inner py-5">

        <div class="card">
            <div class="p-4 p-sm-5">
                <!-- Logo -->
                <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                    <div class="w-100 position-relative">
                        <img src="{{ asset('assets/registration/img/obw21-logo.png') }}" alt="" class="img-fluid">
                    </div>
                </div>
                <!-- / Logo -->

                <div class="alert alert-success mb-4">{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</div>

                <div class="d-flex justify-content-center align-items-center m-0">
                    <a href="{{ url('fos_user_security_login') }}" class="btn btn-primary rounded-pill waves-effect">Back to Login</a>
                </div>

            </div>
        </div>

    </div>
</div>
