{% extends 'emails/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="">
        <!--[if mso]>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
        <![endif]-->
        <div style="color:#555555;line-height:180%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
            <div style="font-size:12px;line-height:22px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                <p style="margin: 0;font-size: 12px;line-height: 22px"><span
                            style="font-size: 14px; line-height: 25px;">{{ 'resetting.email.message_html'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl})|raw|nl2br }}</span>
                </p></div>
        </div>
        <!--[if mso]></td></tr></table><![endif]-->
    </div>
{% endblock %}
