{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form with ['bootstrap_4_layout.html.twig'] %}

<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image: url({{ asset('assets/images/login_bg.jpg') }});">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="authentication-inner py-5">

        <div class="card">
            <div class="p-4 p-sm-5">
                <!-- Logo -->
                <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                    <div class="w-100 position-relative">
                        <img src="{{ asset('assets/registration/img/obw21-logo.png') }}" alt="" class="img-fluid">
                    </div>
                </div>
                <!-- / Logo -->

                <div class="text-center text-secondary">
                    <h4>Reset Password</h4>
                </div>

                <!-- Form -->
                {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset form-horizontal' } }) }}
                {{ form_widget(form) }}

                <div class="d-flex justify-content-center align-items-center m-0">
                    <button type="submit" class="btn btn-primary rounded-pill waves-effect">{{ 'resetting.reset.submit'|trans }}</button>
                </div>
                {{ form_end(form) }}
                <!-- / Form -->

            </div>
        </div>

    </div>
</div>
