{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% block page_title %}Reset Password{% endblock %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/pages/authentication.css') }}">
{% endblock %}

{% block layout_wrapper %}
    {{ include('bundles/FOSUserBundle/Resetting/reset_content.html.twig') }}
{% endblock %}
