{% extends 'base.html.twig' %}

{% block title %}ObwProductCategory{% endblock %}

{% block content %}
    <h1>ObwProductCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ obw_product_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ obw_product_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('obw_product_category_index') }}">back to list</a>

    <a href="{{ path('obw_product_category_edit', {'id': obw_product_category.id}) }}">edit</a>

    {{ include('admin/obw_product_category/_delete_form.html.twig') }}
{% endblock %}
