{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% block page_title %}OBW 2021 User Registration% endblock %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/pages/authentication.css') }}">
{% endblock %}

{% block layout_wrapper %}
    {{ include('bundles/FOSUserBundle/Registration/register_content.html.twig') }}
{% endblock %}
