{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form with 'bootstrap_4_layout.html.twig' %}

<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image: url({{ asset('assets/images/login_bg.jpg') }});">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="authentication-inner py-5">

        <div class="card">
            <div class="p-4 p-sm-5">
                <!-- Logo -->
                <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                    <div class="w-100 position-relative">
                        <img src="{{ asset('assets/registration/img/obw21-logo.png') }}" alt="" class="img-fluid">
                    </div>
                </div>
                <!-- / Logo -->

                <div class="alert alert-info mb-4 text-center">Please enter your email address and password for registration.<br><br>
                    Invitation code can be found in the email your administrator sent you.
                </div>

                <!-- Form -->
                <form action="{{ path("fos_user_registration_register") }}" method="post">
                    {{ form_errors(form) }}

                    {{ form_row(form.profile.fullName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.inviteCode) }}

                    <div class="d-flex justify-content-center align-items-center m-0">
                        <button type="submit" class="btn btn-primary rounded-pill waves-effect">Register</button>
                    </div>

                    {{ form_widget(form._token) }}
                </form>
                <!-- / Form -->

            </div>
        </div>

    </div>
</div>
