<form method="post" action="{{ path('obw_pre_registration_delete', {'id': obw_pre_registration.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ obw_pre_registration.id) }}">
    <button class="btn">Delete</button>
</form>
