{% extends 'base.html.twig' %}

{% block page_title %}Pre-Registration Settings{% endblock %}

{% block page_vendor_stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css') }}">
{% endblock page_vendor_stylesheet %}

{% block page_vendor_javascript %}
    <script src="{{ asset('assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
{% endblock page_vendor_javascript %}

{% block page_javascript %}
    <script src="{{ asset('assets/vendor/js/select2entity.js') }}"></script>
{% endblock %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4 flex-column flex-md-row">
        <div class="mb-3 mb-md-0"><span class="text-muted font-weight-light">Pre-Registration / </span> {{ block('page_title') }}</div>
    </h4>

    {% embed 'flash.html.twig' %}{% endembed %}

    {{ form_start(form) }}
    <div class="card">
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary" id="submit-form">Save</button>&nbsp;
        <a href="{{ url('obw_pre_registration_configure') }}" class="btn btn-default">Cancel</a>
    </div>
    {{ form_end(form) }}

{% endblock %}
