{% extends 'base.html.twig' %}

{% block title %}Edit ObwPreRegistration{% endblock %}

{% block content %}
    <h1>Edit ObwPreRegistration</h1>

    {{ include('admin/obw_pre_registration/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('obw_pre_registration_index') }}">back to list</a>

    {{ include('admin/obw_pre_registration/_delete_form.html.twig') }}
{% endblock %}
