{% extends 'base.html.twig' %}

{% block title %}New ObwPreRegistration{% endblock %}

{% block content %}
    <h1>Create new ObwPreRegistration</h1>

    {{ include('admin/obw_pre_registration/_form.html.twig') }}

    <a href="{{ path('obw_pre_registration_index') }}">back to list</a>
{% endblock %}
