{% extends 'base.html.twig' %}

{% block page_title %}Submission #{{ "%'05s"|format(order.id) }}{% endblock page_title %}

{% block page_vendor_stylesheet %}
{% endblock page_vendor_stylesheet %}

{% block page_vendor_javascript %}
{% endblock page_vendor_javascript %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4 flex-column flex-md-row">
        <div class="mb-3 mb-md-0"><span class="text-muted font-weight-light">Pre-Registrations / </span> {{ block('page_title') }}</div>

        <div class="align-self-center align-self-md-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">Update Status</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-secondary" href="{{ url('obw_pre_registration_update_status', {'id': obw_pre_registration.id, 'status': 'new'}) }}">New</a>
                    <a class="dropdown-item text-primary" href="{{ url('obw_pre_registration_update_status', {'id': obw_pre_registration.id, 'status': 'processing'}) }}">Processing</a>
                    <a class="dropdown-item text-success" href="{{ url('obw_pre_registration_update_status', {'id': obw_pre_registration.id, 'status': 'completed'}) }}">Completed</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="{{ url('obw_pre_registration_update_status', {'id': obw_pre_registration.id, 'status': 'cancelled'}) }}">Cancel Order</a>
                </div>
            </div>
        </div>
    </h4>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="card">

        <!-- Status -->
        <div class="card-body">
            <strong class="mr-2">Status:</strong>
            <span class="text-big">{{ include('admin/obw_pre_registration_order/_status_badge.html.twig', {'status': order.status}) }}</span>
            <span class="text-muted small ml-1">{{ (last_status_update ?: order.createdAt)|date('l, j M Y h:i A') }}</span>
        </div>
        <hr class="m-0">
        <!-- / Status -->

        <!-- Info -->
        <div class="card-body pb-1">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Date</div>
                    {{ order.createdAt|date('l, j M Y h:i A') }} ({{ order.createdAt|ago }})
                </div>
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Amount</div>
                    {{ order.totalAmount|format_price }}
                </div>
            </div>
        </div>
        <hr class="m-0">
        <!-- / Info -->

        <div class="card-body">
            <h6 class="small font-weight-semibold">
                Pre-Registration Details
            </h6>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Name</div>
                    {{ student.name }}
                </div>
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Phone</div>
                    {{ student.contactNumber }}
                </div>
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Batch</div>
                    {{ student.batch }}
                </div>
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">House</div>
                    {{ student.house }}
                </div>
            </div>
        </div>
        <hr class="m-0">

        <div class="card-body">
            <h6 class="small font-weight-semibold">
                Payment Details
            </h6>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Completed At</div>
                    {{ 'now'|date('l, j M Y h:i A') }} ({{ order.updatedAt|ago }})
                </div>
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Payment Method</div>
                    Billplz
                </div>
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Transaction Reference #</div>
                    6WwyzlHti7f8Zg2zTVnm
                </div>
                <div class="col-md-6 mb-3">
                    <div class="text-muted small">Total Amount Paid</div>
                    {{ order.totalAmount|format_price }}
                </div>
            </div>
        </div>
        <hr class="m-0">

        <!-- Items -->
        <div class="card-body">
            <h6 class="small font-weight-semibold">
                Order Details
            </h6>

            <div class="table-responsive">
                <table class="table table-sm table-bordered m-0" style="min-width:550px;">
                    <thead>
                    <tr>
                        <th scope="col" class="">Item</th>
                        <th scope="col" class="text-center">Qty</th>
                        <th scope="col" class="text-center">Price (RM)</th>
                        <th scope="col" class="text-center">Amount (RM)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order_item in order.orderItems %}
                    <tr>
                        <td class="p-4">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <a href="javascript:void(0)" class="d-block text-body">{{ order_item.product.name }}</a>
                                    {% if order_item.options|length > 0 %}
                                    <small>
                                        {% for option_name, option in order_item.options %}
                                        <span class="text-muted">{{ option_name|ucwords }}:</span> {{ option|replace({'_': ' '})|ucwords }}
                                        {% endfor %}
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <!-- Set column width -->
                        <td class="text-center p-4" style="width: 66px;">
                            {{ order_item.quantity }}
                        </td>
                        <!-- Set column width -->
                        <td class="text-center p-4" style="width: 150px;">
                            {{ order_item.price|format_price(false) }}
                        </td>
                        <!-- Set column width -->
                        <td class="text-right font-weight-semibold p-4" style="width: 150px;">
                            {{ order_item.totalAmount|format_price(false) }}
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="3" class="font-weight-semibold p-4">Total Amount (RM)</td>
                        <td class="text-right font-weight-semibold p-4">{{ order.totalAmount|format_price(false) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- / Items -->

    </div>
{% endblock %}
