<form method="post" action="{{ path('obw_sport_event_delete', {'id': obw_sport_event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ obw_sport_event.id) }}">
    <button class="btn">Delete</button>
</form>
