{% extends 'base.html.twig' %}

{% block title %}ObwSportEvent{% endblock %}

{% block content %}
    <h1>ObwSportEvent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ obw_sport_event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ obw_sport_event.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('obw_sport_event_index') }}">back to list</a>

    <a href="{{ path('obw_sport_event_edit', {'id': obw_sport_event.id}) }}">edit</a>

    {{ include('admin/obw_sport_event/_delete_form.html.twig') }}
{% endblock %}
