{% extends 'base.html.twig' %}

{% block title %}StarStudent{% endblock %}

{% block content %}
    <h1>StarStudent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ star_student.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ star_student.name }}</td>
            </tr>
            <tr>
                <th>ContactNumber</th>
                <td>{{ star_student.contactNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('star_student_index') }}">back to list</a>

    <a href="{{ path('star_student_edit', {'id': star_student.id}) }}">edit</a>

    {{ include('admin/star_student/_delete_form.html.twig') }}
{% endblock %}
