.material-style .sidenav .app-brand.demo {
    height: 63px;
}

.app-brand-logo.demo {
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.app-brand-logo.demo svg {
    width: 20px;
    height: 11px;
}

.app-brand-text.demo {
    font-size: 1.1rem;
}

.layout-1 .layout-sidenav .app-brand.demo,
.layout-1 .layout-sidenav .app-brand.demo + .sidenav-divider,
.layout-reversed .layout-2 .layout-sidenav .app-brand.demo {
    display: none;
}

.layout-1 .layout-navbar .app-brand.demo,
.layout-reversed .layout-2 .layout-navbar .app-brand.demo {
    display: -ms-flexbox !important;
    display: flex !important;
}

.layout-1 .layout-navbar .layout-sidenav-toggle,
.layout-reversed .layout-2 .layout-navbar .layout-sidenav-toggle,
.layout-offcanvas .layout-navbar .layout-sidenav-toggle,
.layout-fixed-offcanvas .layout-navbar .layout-sidenav-toggle {
    display: block !important;
}

@media (min-width: 992px) {
    .layout-offcanvas .layout-sidenav .layout-sidenav-toggle,
    .layout-fixed-offcanvas .layout-sidenav .layout-sidenav-toggle {
        display: none;
    }
}

/* *****************************************************************************
 * Navbar
 */

.demo-navbar-messages .dropdown-toggle,
.demo-navbar-notifications .dropdown-toggle,
.demo-navbar-user .dropdown-toggle,
.demo-navbar-messages.b-nav-dropdown .nav-link,
.demo-navbar-notifications.b-nav-dropdown .nav-link,
.demo-navbar-user.b-nav-dropdown .nav-link {
    white-space: nowrap;
}

.demo-navbar-messages .dropdown-menu,
.demo-navbar-notifications .dropdown-menu {
    overflow: hidden;
    padding: 0;
}

@media (min-width: 992px) {
    .demo-navbar-messages .dropdown-menu,
    .demo-navbar-notifications .dropdown-menu {
        margin-top: .5rem;
        width: 22rem;
    }

    .demo-navbar-user .dropdown-menu {
        margin-top: .25rem;
    }
}

.project-attachment {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.project-attachment > .media-body {
    min-width: 0
}

.project-attachment-file, .project-attachment-img {
    display: block;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 4rem;
    height: 4rem
}

.project-attachment-file {
    display: inline-block;
    text-align: center;
    line-height: 4rem
}

.project-attachment-img {
    background-color: transparent;
    background-position: center center;
    background-size: cover
}

.project-attachment-filename {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap
}

.project-task-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.625rem 0
}

.project-task-item .ui-todo-item {
    margin: 0
}

.default-style .project-task-item {
    background: #fff
}

.default-style .project-task-item + .project-task-item {
    border-top: 1px solid rgba(24, 28, 33, 0.06)
}

.material-style .project-task-item {
    background: #fff
}

.material-style .project-task-item + .project-task-item {
    border-top: 1px solid rgba(24, 28, 33, 0.06)
}

.dataTable .select2.select2-container, .dataTable .select2-results__option {
    font-weight: normal !important;
}
