{{ form_start(form) }}
<div class="card">
    <div class="card-body">
        {{ form_widget(form) }}
    </div>
</div>

<div class="mt-3">
    <button type="submit" class="btn btn-primary" id="submit-form">Save</button>&nbsp;
    <a href="{{ url('obw_product_index') }}" class="btn btn-default">Cancel</a>
</div>
{{ form_end(form) }}
