{% extends 'base.html.twig' %}

{% block title %}ObwProduct{% endblock %}

{% block content %}
    <h1>ObwProduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ obw_product.id }}</td>
            </tr>
            <tr>
                <th>Product Category</th>
                <td>{{ obw_product.productCategory }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ obw_product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ obw_product.priceDivided|format_currency('MYR') }}</td>
            </tr>
            <tr>
                <th>Is Amount Varies</th>
                <td>{{ obw_product.isAmountVaried ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('obw_product_index') }}">back to list</a>

    <a href="{{ path('obw_product_edit', {'id': obw_product.id}) }}">edit</a>

    {{ include('admin/obw_product/_delete_form.html.twig') }}
{% endblock %}
