<form method="post" action="{{ path('star_house_delete', {'id': star_house.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ star_house.id) }}">
    <button class="btn">Delete</button>
</form>
