{% extends 'base.html.twig' %}

{% block title %}StarHouse{% endblock %}

{% block content %}
    <h1>StarHouse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ star_house.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ star_house.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('star_house_index') }}">back to list</a>

    <a href="{{ path('star_house_edit', {'id': star_house.id}) }}">edit</a>

    {{ include('admin/star_house/_delete_form.html.twig') }}
{% endblock %}
