<footer class="clearfix">
    <div class="container">
        <p>© 2020 STAR 9701</p>
        <ul>
            <li><a href="#" class="animated_link">Terms and conditions</a></li>
            <li><a href="{{ url('obw_pre_registration_contact') }}" class="animated_link">Contact Information</a></li>
        </ul>
    </div>
</footer>
<!-- end footer-->
