{% form_theme form with [
    'bootstrap_4_layout.html.twig',
    'form/pre_registration_fields.html.twig'
] %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="OBW2021 Pre-Registration Portal">
    <meta name="author" content="STAR9701">
    <title>OBW2021 Pre-Registration Portal</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{ asset('assets/registration/img/apple-touch-icon-57x57-precomposed.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{{ asset('assets/registration/img/apple-touch-icon-72x72-precomposed.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{{ asset('assets/registration/img/apple-touch-icon-114x114-precomposed.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{{ asset('assets/registration/img/apple-touch-icon-144x144-precomposed.png') }}">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{{ asset('assets/registration/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/registration/css/menu.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/registration/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/registration/css/vendors.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/registration/css/switch-light.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/linearicons.css') }}">

    <!-- YOUR CUSTOM CSS -->
    <link href="{{ asset('assets/registration/css/custom.css') }}" rel="stylesheet">

    <!-- MODERNIZR MENU -->
    <script src="{{ asset('assets/registration/js/modernizr.js') }}"></script>

</head>

<body>

<div id="preloader">
    <div data-loader="circle-side"></div>
</div><!-- /Preload -->

<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

<nav>
    <ul class="cd-primary-nav">
        <li><a href="{{ url('obw_pre_registration') }}" class="animated_link">Home</a></li>
        <li><a href="{{ url('obw_pre_registration_about') }}" class="animated_link">About Us</a></li>
        <li><a href="{{ url('obw_pre_registration_contact') }}" class="animated_link">Contact Us</a></li>
    </ul>
</nav>
<!-- /menu -->

<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-lg-6 content-left">
            <div class="content-left-wrapper">
                <a href="index.html" id="logo"><img src="{{ asset('assets/registration/img/obw21-logo.png') }}" alt=""></a>
                <div id="social">
                    <ul>
                        <li><a href="#0"><i class="icon-facebook"></i></a></li>
                        <li><a href="#0"><i class="icon-twitter"></i></a></li>
                        <li><a href="#0"><i class="icon-google"></i></a></li>
                        <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- /social -->
                <div>
                    <figure><img src="{{ asset('assets/registration/img/info_graphic_2.svg') }}" alt="" class="img-fluid"></figure>
                    <h2>OBW2021 Pre-Registration</h2>
                    <p>We welcome you to pre-register for OBW2021 and state your interests on relevant activities and donations.</p>
                    <a href="#start" class="btn_1 rounded mobile_btn">Start Now!</a>
                </div>
                <div class="copy">© 2020 STAR9701</div>
            </div>
            <!-- /content-left-wrapper -->
        </div>
        <!-- /content-left -->

        <div class="col-lg-6 content-right" id="start">
            <div id="wizard_container">
                <div id="top-wizard">
                    <div id="progressbar"></div>
                </div>
                <!-- /top-wizard -->
                {{ form_start(form) }}
                    <input id="website" name="website" type="text" value="">
                    <!-- Leave for security protection, read docs for details -->
                    <div id="middle-wizard">
                        <div class="step">
                            <h3 class="main_question"><strong>1/5</strong>Please fill your details first</h3>
                            <div class="form-group">
                                {{ form_widget(form.student.name) }}
                            </div>
                            <div class="form-group">
                                <div class="styled-select clearfix">
                                {{ form_widget(form.student.batch) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="styled-select clearfix">
                                    {{ form_widget(form.student.house) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.student.contactNumber) }}
                            </div>
                            <div class="form-group terms">
                                <label class="container_check">Please accept our <a href="#" data-toggle="modal" data-target="#terms-txt">Terms and conditions</a>
                                    <input type="checkbox" name="terms" value="Yes" class="required">
                                    <span class="checkmark"></span>
                                </label>
                            </div>


                            <h3 class="main_question"><strong>2/5</strong>Welcome home, super senior!</h3>
                            <div class="form-group options clearfix">
                                <i class="lnr lnr-dinner"></i><em>Reserve dinner table <strong>RM500</strong></em>
                                <label class="switch-light switch-ios float-right">
                                    {{ form_widget(form.reserve_table, {'attr': {'data-toggle': 'collapse', 'data-target': '#table-reservation-quantity'}}) }}
                                    <span><span>No</span><span>Yes</span></span>
                                    <a></a>
                                </label>
                            </div>
                            <div class="form-group collapse" id="table-reservation-quantity">
                                <div class="qty-buttons">
                                    <input type="button" value="+" class="qtyplus" name="frontend_pre_registration[reserve_table_quantity]">
                                    {{ form_widget(form.reserve_table_quantity) }}
                                    <input type="button" value="-" class="qtyminus" name="frontend_pre_registration[reserve_table_quantity]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="container_check"><i class="lnr lnr-dinner"></i> Do you want to reserve a table?
                                    {{ form_widget(form.reserve_table) }}
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div id="pass-info" class="clearfix"></div>
                        </div>
                        <!-- /step-->
                        <div class="step">
                            <h3 class="main_question"><strong>2/5</strong>Welcome home, super senior!</h3>
                            <div class="form-group options clearfix">
                                <i class="lnr lnr-dinner"></i>Welcome drink <strong>+$24</strong>
                                <label class="switch-light switch-ios float-right">
                                    <input type="checkbox" value="Welcome drink" name="options[]">
                                    <span><span>No</span><span>Yes</span></span>
                                    <a></a>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="container_check"><i class="lnr lnr-dinner"></i> Do you want to reserve a table?
                                    {{ form_widget(form.reserve_table) }}
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.reserve_table_quantity) }}
                                <div class="qty-buttons">
                                    <input type="button" value="7" class="qtyplus" name="child">
                                    <input type="text" name="child" id="child" value="" class="qty form-control required" placeholder="Child">
                                    <input type="button" value="7" class="qtyminus" name="child">
                                </div>
                            </div>
                            <div id="pass-info" class="clearfix"></div>
                        </div>
                        <!-- /step-->
                        <div class="step">
                            <h3 class="main_question"><strong>3/5</strong>Welcome home, super senior!</h3>
                            <div class="form-group">
                                <label class="container_check">Do you want to reserve a table?
                                    {{ form_widget(form.reserve_table) }}
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.reserve_table_quantity) }}
                                <div class="qty-buttons">
                                    <input type="button" value="7" class="qtyplus" name="child">
                                    <input type="text" name="child" id="child" value="" class="qty form-control required" placeholder="Child">
                                    <input type="button" value="7" class="qtyminus" name="child">
                                </div>
                            </div>
                            <div id="pass-info" class="clearfix"></div>
                        </div>
                        <!-- /step-->
                        <div class="submit step">
                            <h3 class="main_question"><strong>4/5</strong>Summary</h3>
                            <div class="summary">
                                <ul>
                                    <li><strong>1</strong>
                                        <h5>Personal Details</h5>
                                        <ul>
                                            <li><label>First Name</label>: <span id="first_name"></span></li>
                                            <li><label>Last Name</label>: <span id="last_name"></span></li>
                                            <li><label>Email</label>: <span id="email"></span></li>
                                            <li><label>Country</label>: <span id="country"></span></li>
                                        </ul>
                                    </li>
                                    <li><strong>2</strong>
                                        <h5>Account Details</h5>
                                        <ul>
                                            <li><label>User Name</label>: <span id="user_name"></span></li>
                                            <li><label>Password</label>: <span id="password"></span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /step-->
                    </div>
                    <!-- /middle-wizard -->
                    <div id="bottom-wizard">
                        <button type="button" name="backward" class="backward">Prev</button>
                        <button type="button" name="forward" class="forward">Next</button>
                        <button type="submit" name="process" class="submit">Submit</button>
                    </div>
                    <!-- /bottom-wizard -->
                {{ form_end(form) }}
            </div>
            <!-- /Wizard container -->
        </div>
        <!-- /content-right-->
    </div>
    <!-- /row-->
</div>
<!-- /container-fluid -->

<div class="cd-overlay-nav">
    <span></span>
</div>
<!-- /cd-overlay-nav -->

<div class="cd-overlay-content">
    <span></span>
</div>
<!-- /cd-overlay-content -->

<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
<!-- /menu button -->

<!-- Modal terms -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- COMMON SCRIPTS -->
<script src="{{ asset('assets/registration/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('assets/registration/js/common_scripts.min.js') }}"></script>
<script src="{{ asset('assets/registration/js/velocity.min.js') }}"></script>
<script src="{{ asset('assets/registration/js/functions.js') }}"></script>

<!-- Wizard script -->
<script src="{{ asset('assets/registration/js/registration_func.js') }}"></script>

</body>
</html>
