<nav>
    <ul class="cd-primary-nav">
        <li><a href="{{ url('obw_pre_registration') }}" class="animated_link">OBW 2021 Pre-Registrations</a></li>
        <li><a href="{{ url('obw_pre_registration_about') }}" class="animated_link">About Us</a></li>
        <li><a href="{{ url('obw_pre_registration_contact') }}" class="animated_link">Contact Us</a></li>
    </ul>
</nav>
<!-- /menu -->
