<div id="social">
    <ul>
        <li><a href="#0" class="mr-1"><i class="ion ion-logo-facebook"></i></a></li>
        <li><a href="#0" class="mr-1"><i class="ion ion-logo-instagram"></i></a></li>
        <li><a href="#0" class="mr-1"><i class="ion ion-logo-twitter"></i></a></li>
        <li><a href="{{ url('obw_pre_registration') }}?debug=1"><i class="ion ion-ios-bug"></i></a></li>
    </ul>
</div>
<!-- /social -->
