<h3 class="main_question">Summary</h3>
<div class="summary">
    <p>Please confirm the following details are correct and then you can proceed to make payment.</p>
    <ul>
        <li><strong class="item-count">1</strong>
            <h5>Personal Details</h5>
            <ul>
                <li><label>Full Name</label>: {{ student.name }}</li>
                <li><label>Batch</label>: {{ student.batch }}</li>
                <li><label>House</label>: {{ student.house }}</li>
                <li><label>Contact No</label>: {{ student.contactNumber }}</li>
            </ul>
        </li>
        <li><strong class="item-count">2</strong>
            <h5>Order Details</h5>
            <table class="table mt-4" id="order-details">
                <thead>
                <tr class="d-flex">
                    <th scope="col" class="text-center col">Item</th>
                    <th scope="col" class="text-center col-1">Qty</th>
                    <th scope="col" class="text-center col-3">Price (RM)</th>
                    <th scope="col" class="text-center col-3">Amount (RM)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.orderItems %}
                <tr class="d-flex">
                    <th scope="row" class="col">
                        {{ item.product.name }}
                        {% if item.options|length > 0 %}
                            <ul class="order-item-options my-2">
                            {% for key, option in item.options %}
                                <li><span class="option-name">{{ key|ucwords }}:</span> {{ option|replace({'_': ' '})|ucwords }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </th>
                    <td class="text-center col-1">{{ item.quantity }}</td>
                    <td class="text-center col-3">{{ (item.price / 100)|number_format(2, '.', ',') }}</td>
                    <td class="text-right col-3">{{ (item.totalAmount / 100)|number_format(2, '.', ',') }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr class="d-flex">
                    <th scope="col" class="col">Total Amount Due</th>
                    <th scope="col" class="col-6 text-right">RM{{ (order.totalAmount / 100)|number_format(2, '.', ',') }}</th>
                </tr>
                </tfoot>
            </table>
        </li>

        <li><strong class="item-count">3</strong>
            <h5 class="mb-4">Payment Method</h5>

            <div class="alert alert-info" role="alert">
                <h6>Notes On Payment</h6>
                We use <a href="http://billplz.com">Billplz</a> for handling payments. With Billplz, you will be able to pay by FPX/online banking with your local
                bank account or via credit card/debit card.<br><br>
                You will be redirected to Billplz website once you clicked the <strong>Make Payment</strong>
                button and will be redirected back to our site once the payment complete.
            </div>

            <div class="form-group">
                <label class="container_radio version_2">
                    <img src="{{ asset('assets/images/billplz_full.png') }}" class="img-fluid" alt="Billplz">
                    <input type="radio" name="question_3" value="Yes" class="required" checked="checked">
                    <span class="checkmark" style="top: 50%;"></span>
                </label>
            </div>
        </li>
    </ul>
</div>
