{% extends 'obw_registration/base.html.twig' %}

{% block page_javascript %}
    <!-- SPECIFIC SCRIPTS -->
    <script src="{{ asset('assets/registration/js/parallax.min.js') }}"></script>
    <script src="{{ asset('assets/registration/js/owl-carousel.js') }}"></script>
    <script>
        "use strict";
        $(".team-carousel").owlCarousel({
            items: 1,
            loop: false,
            margin: 10,
            autoplay: false,
            smartSpeed: 300,
            responsiveClass: false,
            responsive: {
                320: {
                    items: 1,
                },
                768: {
                    items: 2,
                },
                1000: {
                    items: 3,
                }
            }
        });
    </script>
{% endblock %}

{% block container %}
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">{{ include('obw_registration/_main_page_url.html.twig') }}</div>
                <div class="col-9">
                    {{ include('obw_registration/_social_menu.html.twig') }}
                    <!-- /social -->
                    {{ include('obw_registration/_nav_button.html.twig') }}
                    {{ include('obw_registration/_menu.html.twig')}}
                    <!-- /menu -->
                </div>
            </div>
        </div>
        <!-- /container -->
    </header>
    <!-- /Header -->

    <section class="parallax_window_in" data-parallax="scroll" data-image-src="{{ asset('assets/registration/img/sub_header_about.jpg') }}" data-natural-width="1400" data-natural-height="800">
        <div id="sub_content_in">
            <h1>About OBW 2021</h1>
            <p>"Usu habeo equidem sanctus no ex melius labitur conceptam eos"</p>
        </div>
    </section>
    <!-- /section -->

    <main id="general_page">
        <div class="container_styled_1">
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="nomargin_top">Vim ridens<br>eleifend referrentur eu</h2>
                        <p class="lead">Ex graeco nostrud theophrastus nam, cum tibique reprimique ad. Mea omittam electram te, eu cum fastidii sapientem delicatissimi.</p>
                        <p>
                            Ex has nihil liberavisse philosophia. Ne mazim quidam contentiones usu. Id nec <strong>causae periculis </strong>evertitur, stet menandri an pro, his argumentum appellantur eu. An laudem efficiendi has, utinam principes consequat id vel.</p>
                        <p>Ex graeco nostrud theophrastus nam, cum tibique reprimique ad. Mea omittam electram te, eu cum fastidii sapientem delicatissimi. Sed cu eripuit veritus propriae. An eam choro saperet ullamcorper, eam <strong>saperet rationibus</strong> ut. Cu usu tation quaeque vocibus, alterum torquatos persequeris te ius.</p>
                        <h3>Mission</h3>
                        <p>Ex graeco nostrud theophrastus nam, cum tibique reprimique ad. Mea omittam electram te, eu cum fastidii sapientem delicatissimi. Sed cu eripuit veritus propriae. An eam choro saperet ullamcorper, eam <strong>saperet rationibus</strong> ut. Cu usu tation quaeque vocibus, alterum torquatos persequeris te ius.</p>
                    </div>
                    <div class="col-lg-5 ml-lg-5 add_top_30">
                        <img src="{{ asset('assets/registration/img/devices_2.png') }}" alt="" class="img-fluid">
                    </div>
                </div>
                <!-- End row -->
            </div>
        </div>
        <div class="container margin_60">
            <div class="main_title">
                <h2><em></em>Meet Wilio Team</h2>
                <p>
                    Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos.
                </p>
            </div>
            <!--Team Carousel -->
            <div class="row">
                <div class="owl-carousel owl-theme team-carousel">
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="{{ asset('assets/registration/img/team/team-1.jpg') }}" alt="">
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner">
                                    <h4>Mitchell Young</h4>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="#0"><i class="icon-facebook"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-twitter"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-google"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-linkedin"></i></a>
                                        </li>
                                    </ul>
                                    <a href="#0" class="btn_1 white">View porfile</a>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h4>Mitchell Young</h4>
                            <p>CEO</p>
                        </div>
                    </div>
                    <!-- /team-item -->
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="{{ asset('assets/registration/img/team/team-2.jpg') }}" alt="">
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner">
                                    <h4>Ronald Green</h4>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="#0"><i class="icon-facebook"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-twitter"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-google"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-linkedin"></i></a>
                                        </li>
                                    </ul>
                                    <a href="#0" class="btn_1 white">View porfile</a>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h4>Ronald Green</h4>
                            <p>Business Strategy</p>
                        </div>
                    </div>
                    <!-- /team-item -->
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="{{ asset('assets/registration/img/team/team-3.jpg') }}" alt="">
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner">
                                    <h4>Carl Peppard</h4>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="#0"><i class="icon-facebook"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-twitter"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-google"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-linkedin"></i></a>
                                        </li>
                                    </ul>
                                    <a href="#0" class="btn_1 white">View porfile</a>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h4>Carl Peppard</h4>
                            <p>General Manager</p>
                        </div>
                    </div>
                    <!-- /team-item -->
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="{{ asset('assets/registration/img/team/team-4.jpg') }}" alt="">
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner">
                                    <h4>Sandra Bullock</h4>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="#0"><i class="icon-facebook"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-twitter"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-google"></i></a>
                                        </li>
                                        <li><a href="#0"><i class="icon-linkedin"></i></a>
                                        </li>
                                    </ul>
                                    <a href="#0" class="btn_1 white">View porfile</a>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h4>Sandra Bullock</h4>
                            <p>Customer Support</p>
                        </div>
                    </div>
                    <!-- /team-item -->
                </div>
            </div>
            <!--End Team Carousel-->
        </div>
        <!-- End container -->
    </main>

    {{ include('obw_registration/_footer.html.twig') }}
{% endblock %}
