<!DOCTYPE html>
<html lang="en" class="material-style">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="OBW2021 Pre-Registration Portal">
    <meta name="author" content="STAR9701">
    <title>{% block page_title %}{% endblock page_title %}OBW 2021 Pre-Registration Portal</title>

    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{{ asset('assets/vendor/libs/bootstrap/4.4.1/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/registration/css/menu.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/registration/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/registration/css/vendors.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/registration/css/switch-light.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/linearicons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/ionicons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/fontawesome.css') }}">

    <!-- YOUR CUSTOM CSS -->
    <link href="{{ asset('assets/registration/css/custom.css') }}" rel="stylesheet">
    {% block page_stylesheet %}{% endblock %}

    <!-- MODERNIZR MENU -->
    <script src="{{ asset('assets/registration/js/modernizr.js') }}"></script>

</head>

<body>

<div id="preloader">
    <div data-loader="circle-side"></div>
</div><!-- /Preload -->

<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

{% block container %}{% endblock container %}

<div class="cd-overlay-nav">
    <span></span>
</div>
<!-- /cd-overlay-nav -->

<div class="cd-overlay-content">
    <span></span>
</div>
<!-- /cd-overlay-content -->

{% block nav_button %}{% endblock %}

<!-- COMMON SCRIPTS -->
<script src="{{ asset('assets/registration/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('assets/registration/js/common_scripts.min.js') }}"></script>
<script src="{{ asset('assets/registration/js/velocity.min.js') }}"></script>
<script src="{{ asset('assets/vendor/libs/block-ui/block-ui.js') }}"></script>
<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script src="{{ asset('assets/registration/js/functions.js') }}"></script>

{% block page_javascript %}
{% endblock page_javascript %}
</body>
</html>
