{% extends 'obw_registration/base.html.twig' %}

{% form_theme form with [
    'form/pre_registration_fields.html.twig'
] only %}

{% block page_javascript %}
    <script src="{{ asset('assets/registration/js/registration_func.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var $collectionHolder, $jerseyTemplate;

            $collectionHolder = $('ul.jerseys');

            $jerseyTemplate =
                '<div class="d-flex align-items-center pb-2">' +
                    '<div class="mr-auto pr-2">Jersey __index__</div>' +
                    '<div class="styled-select small mr-2 clearfix">' +
                        '{{ form_widget(form.jerseys.vars.prototype.style)|raw }}' +
                    '</div>' +
                    '<div class="styled-select small clearfix">' +
                        '{{ form_widget(form.jerseys.vars.prototype.size)|raw }}' +
                    '</div>' +
                {# '<button class="btn btn-outline-danger remove-jersey" type="button"><i class="lnr lnr-cross"></i></button>' + #}
                '</div>';

            $collectionHolder.data('index', $collectionHolder.children('li').length);

            $('.qtyplus[name="frontend_pre_registration[jersey_quantities]"]').on('click', function () {
                addTagForm($collectionHolder);
            });

            $('.qtyminus[name="frontend_pre_registration[jersey_quantities]"]').on('click', function () {
                if ($('ul.jerseys > li').length > 1) {
                    $('ul.jerseys > li:last-child').remove();
                    $collectionHolder.data('index', $collectionHolder.children('li').length);
                }
            });

            $('#frontend_pre_registration_buy_jersey').on('change', function() {
                if (this.checked) {
                    if ($('ul.jerseys li').length === 0) {
                        addTagForm($collectionHolder);
                    }
                } else {
                    $('ul.jerseys li').remove();
                    $collectionHolder.data('index', 0);
                    $('#frontend_pre_registration_jersey_quantities').val(1);
                }
            });

            function addTagForm($collectionHolder) {
                var prototype = $jerseyTemplate;

                var index = $collectionHolder.data('index');

                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                newForm = newForm.replace(/__index__/g, index + 1);

                $collectionHolder.data('index', index + 1);

                var $newFormLi = $('<li></li>').append(newForm);

                $collectionHolder.append($newFormLi);

                $('.styled-select select').niceSelect();
            }
        });
    </script>
{% endblock page_javascript %}

{% block nav_button %}
{{ include('obw_registration/_nav_button.html.twig') }}
{% endblock %}

{% block container %}
{{ include('obw_registration/_menu.html.twig')}}

<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-lg-6 content-left">
            <div class="content-left-wrapper">
                <a href="{{ url('obw_pre_registration') }}" id="logo"><img src="{{ asset('assets/registration/img/obw21-logo.png') }}" alt="" width="160"></a>
                {{ include('obw_registration/_social_menu.html.twig') }}
                <!-- /social -->
                <div id="pre-registration-left-text">
                    <figure><img src="{{ asset('assets/registration/img/info_graphic_2.svg') }}" alt="" class="img-fluid"></figure>
                    <h2>OBW2021 Pre-Registration</h2>
                    <p class="opacity-100">We welcome you to pre-register for OBW 2021 and state your interests on relevant activities and donations.</p>
                    <p class="opacity-100">By pre-registering right now, you are entitled to early-bird fees of <span class="badge badge-warning text-big opacity-100" style="font-size:1.1em;">RM{{ pre_registration_fee|number_format(0) }}</span> only. Don't miss out on this savings!</p>
                    <a href="#start" class="btn_1 rounded mobile_btn">Pre-Register Now</a>
                </div>
                <div class="copy">© 2020 STAR 9701</div>
            </div>
            <!-- /content-left-wrapper -->
        </div>
        <!-- /content-left -->

        <div class="col-lg-6 content-right" id="start">
            <div id="wizard_container">
                <div id="top-wizard">
                    <div id="progressbar"></div>
                </div>
                <!-- /top-wizard -->
                <form name="frontend_pre_registration" method="post" id="wrapped" action="{{ url('obw_pre_registration_pre_submit') }}" data-save-form-url="{{ url('obw_pre_registration_save') }}">
                    <div id="middle-wizard">
                        <div class="step" data-state="branchBatch">
                            <h3 class="main_question">First, tell us about your Starian life</h3>
                            <div class="form-group">
                                {{ form_widget(form.student.name) }}
                            </div>
                            <div class="form-group">
                                <div class="styled-select clearfix">
                                    {{ form_widget(form.student.batch) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="styled-select clearfix">
                                    {{ form_widget(form.student.house) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.student.contactNumber) }}
                            </div>
                            <div class="form-group terms">
                                <label class="container_check">Please accept our <a href="#" data-toggle="modal" data-target="#terms-txt">Terms and conditions</a>
                                    <input type="checkbox" name="terms" value="Yes" class="required">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div id="pass-info" class="clearfix"></div>
                        </div>
                        <!-- /step-->

                        <div class="branch" id="super-senior-step">
                            <div class="step" data-state="branchSuperSenior">
                                <h3 class="main_question">Welcome home, super senior!</h3>
                                <div class="form-group options d-flex align-items-center">
                                    <div>
                                        <i class="lnr lnr-dinner"></i>
                                    </div>
                                    <div class="col-8 px-0">
                                        <em>Reserve table <strong>RM{{ dinner_table_price|number_format(0) }}/table</strong></em>
                                    </div>
                                    <label class="switch-light switch-ios ml-auto mx-0">
                                        {{ form_widget(form.reserve_table, {'attr': {'data-toggle': 'collapse', 'data-target': '#table-reservation-quantity' }}) }}
                                        <span><span>No</span><span>Yes</span></span>
                                        <a></a>
                                    </label>
                                </div>
                                <div class="row no-gutters pb-4{% if form.vars.value.reserve_table %} collapse show{% else %} collapse{% endif %}" id="table-reservation-quantity">
                                    <div class="form-group options d-flex align-items-center py-0 w-100">
                                        <div>
                                            <i>&nbsp;</i>
                                        </div>
                                        <div class="col-7 px-0">
                                            <em>How many table, Sir?</em>
                                        </div>
                                        <div class="p-0 ml-auto">
                                            <div class="qty-buttons">
                                                <input type="button" value="+" class="qtyplus" name="frontend_pre_registration[reserve_table_quantity]">
                                                {{ form_widget(form.reserve_table_quantity) }}
                                                <input type="button" value="-" class="qtyminus" name="frontend_pre_registration[reserve_table_quantity]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group options d-flex align-items-center">
                                    <div><i class="ion ion-ios-american-football"></i></div>
                                    <div class="col-8 px-0">
                                        <em>Do you want to play games?</em>
                                    </div>
                                    <label class="switch-light switch-ios ml-auto mx-0">
                                        {{ form_widget(form.join_sport_events) }}
                                        <span><span>No</span><span>Yes</span></span>
                                        <a></a>
                                    </label>
                                </div>
                                <div id="pass-info" class="clearfix"></div>
                            </div>
                        </div>
                        <!-- /step-->

                        <div class="branch" id="join-sport-events-step">
                            <div class="step" data-state="contribution-step">
                                <h3 class="main_question">Specify which games you want to join</h3>
                                {% for sport_event in form.sport_events %}
                                    {{ form_widget(sport_event, {'with_label': true}) }}
                                {% endfor %}
                                <div id="pass-info" class="clearfix"></div>

                                <h3 class="main_question">Wear these new jersey to the game!</h3>
                                <div class="form-group options d-flex align-items-center">
                                    <div>
                                        <i class="lnr lnr-shirt"></i>
                                    </div>
                                    <div class="col-7 px-0">
                                        <em>Purchase OBW Team Jersey <strong>RM{{ jersey_price|number_format(0) }}/pc</strong></em>
                                    </div>
                                    <label class="switch-light switch-ios ml-auto mx-0">
                                        {{ form_widget(form.buy_jersey, {'attr': {'data-toggle': 'collapse', 'data-target': '#jersey-order-form' }}) }}
                                        <span><span>No</span><span>Yes</span></span>
                                        <a></a>
                                    </label>
                                </div>
                                <div class="row no-gutters{% if form.vars.value.join_sport_events and form.vars.value.buy_jersey %} collapse show{% else %} collapse{% endif %}" id="jersey-order-form">
                                    <div class="form-group options d-flex align-items-center py-0 pb-2 w-100">
                                        <div>
                                            <i>&nbsp;</i>
                                        </div>
                                        <div class="col-7 px-0">
                                            <em>How many, Sir?</em>
                                        </div>
                                        <div class="p-0 ml-auto">
                                            <div class="qty-buttons">
                                                <input type="button" value="+" class="qtyplus" name="frontend_pre_registration[jersey_quantities]">
                                                {{ form_widget(form.jersey_quantities) }}
                                                <input type="button" value="-" class="qtyminus" name="frontend_pre_registration[jersey_quantities]">
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="jerseys list-unstyled w-100 mb-0 pt-4" style="border-top: 2px dashed #e0dddd;">
                                        {% for jersey in form.vars.value.jerseys|default([]) %}
                                            {% set item = attribute(form.jerseys, loop.index0) %}
                                            <li>
                                                <div class="d-flex align-items-center pb-2">
                                                <div class="mr-auto pr-2">Jersey {{ loop.index }}</div>
                                                <div class="styled-select small mr-2 clearfix">
                                                    {{ form_widget(item.style) }}
                                                </div>
                                                <div class="styled-select small clearfix">
                                                    {{ form_widget(item.size) }}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div id="pass-info" class="clearfix"></div>
                            </div>
                        </div>

                        <div class="step" id="contribution-step" data-state="end">
                            <h3 class="main_question">Care to contribute back to STAR?</h3>
                            {% for contribution in form.contributions %}
                                {{ form_widget(contribution, {'with_label': true}) }}
                            {% endfor %}
                            <div id="pass-info" class="clearfix"></div>

                            <h3 class="main_question">Or, contribute to OBW 2021 fund 😉</h3>
                            <div class="budget_slider">
                                {{ form_widget(form.contribute_amount) }}
                                <span>RM</span>
                            </div>
                            <p class="text-center">💐 Your contributions are very much appreciated.</p>
                            <p class="text-center">If you're interested to sponsor a much bigger amount or to work out a deal, please visit our <a href="#">Sponsorship</a> page where you can view more details for each of our packages.</p>
                            <div id="pass-info" class="clearfix"></div>
                        </div>

                        <!-- /step-->
                        <div class="submit step" id="end">
                        </div>
                        <!-- /step-->
                    </div>
                    <!-- /middle-wizard -->
                    <div id="bottom-wizard">
                        <button type="button" name="backward" class="backward">Prev</button>
                        <button type="button" name="forward" class="forward">Next<span class="spinner-border spinner-border-sm d-none ml-2" role="status"></span></button>
                        {{ form_widget(form.submit) }}
                    </div>
                    <!-- /bottom-wizard -->
                    {{ form_widget(form._token) }}
                </form>
            </div>
            <!-- /Wizard container -->
        </div>
        <!-- /content-right-->
    </div>
    <!-- /row-->

    <!-- Modal terms -->
    <div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn_1" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock %}
