{% extends 'obw_registration/base.html.twig' %}

{% block page_title %}Order #{{ "%'05s"|format(order.id) }} - {% endblock page_title %}

{% block nav_button %}
{{ include('obw_registration/_nav_button.html.twig') }}
{% endblock %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/sweetalert2/sweetalert2.css') }}">
{% endblock %}

{% block page_javascript %}
    <script src="{{ asset('assets/vendor/libs/sweetalert2/sweetalert2.js') }}"></script>

    <script type="text/javascript">
        function validateEmail(email)
        {
            var re = /\S+@\S+\.\S+/;
            return re.test(email);
        }

        $(document).ready(function () {
            var form = $('form#email-form');
            var url = form.attr('action');

            $('#print-order-details').on('click', function(){
                window.print();
            });

            $('#email-form').validate({
                ignore: [],
                rules: {
                    select: {
                        required: true
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is('select:hidden')) {
                        error.insertAfter(element.next('.nice-select'));
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $('#email-order-details').click(function() {
                Swal.fire({
                    title: 'Email Order Details',
                    text: 'Where should we email this order details to?',
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    input: 'text',
                    inputPlaceholder: 'Email Address',
                    confirmButtonText: 'Send Email',
                    allowOutsideClick: function () {
                        return !Swal.isLoading();
                    },
                    customClass: {
                        confirmButton: 'btn_1',
                        cancelButton: 'btn_1 backward'
                    },
                    preConfirm: function(value) {
                        return new Promise(function (resolve) {
                            $('#form_email').val(value);
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: form.serialize()
                            }).done(function() {
                                return resolve(true);
                            }).fail(function() {
                                return resolve(false);
                            });
                        });
                    },
                    inputValidator: (value) => {
                        return new Promise((resolve) => {
                            if (validateEmail(value)) {
                                resolve()
                            } else {
                                resolve('Please make sure the email address is of valid format')
                            }
                        })
                    }
                }).then(function(result) {
                    if (result.value) {
                        Swal.fire({
                            type: 'success',
                            title: 'Email sent to ' + $('#form_email').val() + '!',
                            customClass: {
                                confirmButton: 'btn_1'
                            }
                        });
                    }
                })
            });
        });
    </script>
{% endblock %}

{% block container %}
{{ include('obw_registration/_menu.html.twig')}}

<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-lg-6 content-left d-print-none">
            <div class="content-left-wrapper">
                <a href="{{ url('obw_pre_registration') }}" id="logo"><img src="{{ asset('assets/registration/img/obw21-logo.png') }}" alt="" width="160"></a>
                {{ include('obw_registration/_social_menu.html.twig') }}
                <!-- /social -->
                <div id="payment-complete-left-text">
                    <figure><img src="{{ asset('assets/registration/img/info_graphic_2.svg') }}" alt="" class="img-fluid"></figure>
                    <h2>Thank You!</h2>
                    <p class="opacity-100">Your order have been paid in full successfully and you're <span class="badge badge-success text-big opacity-100">{{ obw_date_difference }}</span> away from the grand event that is OBW 2021.</p>
{#                    <p class="opacity-100">You can confirm you order details and payment information and have the option to download or get it emailed for your future references.</p>#}
                    <p class="opacity-100">We will be contacting you from time to time regarding your orders or sport events that you planned to participate in. Once again, thank you very much!</p>
                    <a href="#" class="btn_1 rounded mr-2" id="print-order-details">Print Order</a> <a href="#" class="btn_1 rounded" id="email-order-details">Email A Copy</a>
                </div>
                <div class="copy">© 2020 STAR 9701</div>
            </div>
            <!-- /content-left-wrapper -->
        </div>
        <!-- /content-left -->

        <div class="col-lg-6 content-right" id="order-details-complete">
            <div id="wizard_container">
                <div id="middle-wizard">
                    <div class="d-none d-print-flex justify-content-center mb-4">
                        <img src="{{ asset('assets/registration/img/obw21-logo.png') }}" alt="OBW 2021" class="img-fluid">
                    </div>

                    <h3 class="main_question">Pre-Registration #{{ "%'05s"|format(order.id) }}</h3>
                    <div class="summary">
                        <p>Thank you for your payment. Your order and payment details are as follows.</p>
                        <ul>
                            <li><strong class="item-count">1</strong>
                                <h5>Personal Details</h5>
                                <ul>
                                    <li><label>Full Name</label>: {{ student.name }}</li>
                                    <li><label>Batch</label>: {{ student.batch }}</li>
                                    <li><label>House</label>: {{ student.house }}</li>
                                    <li><label>Contact No</label>: {{ student.contactNumber }}</li>
                                </ul>
                            </li>
                            <li><strong class="item-count">2</strong>
                                <h5>Order Details</h5>
                                <table class="table mt-4" id="order-details">
                                    <thead>
                                    <tr class="d-flex">
                                        <th scope="col" class="text-center col">Item</th>
                                        <th scope="col" class="text-center col-1">Qty</th>
                                        <th scope="col" class="text-center col-3">Price (RM)</th>
                                        <th scope="col" class="text-center col-3">Amount (RM)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in order.orderItems %}
                                        <tr class="d-flex">
                                            <th scope="row" class="col">
                                                {{ item.product.name }}
                                                {% if item.options|length > 0 %}
                                                    <ul class="order-item-options my-2">
                                                        {% for key, option in item.options %}
                                                            <li><span class="option-name">{{ key|ucwords }}:</span> {{ option|replace({'_': ' '})|ucwords }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </th>
                                            <td class="text-center col-1">{{ item.quantity }}</td>
                                            <td class="text-center col-3">{{ (item.price / 100)|number_format(2, '.', ',') }}</td>
                                            <td class="text-right col-3">{{ (item.totalAmount / 100)|number_format(2, '.', ',') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="d-flex">
                                        <th scope="col" class="col">Total Amount</th>
                                        <th scope="col" class="col-6 text-right">RM{{ (order.totalAmount / 100)|number_format(2, '.', ',') }}</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </li>

                            <li><strong class="item-count">3</strong>
                                <h5 class="mb-4">Payment Details</h5>
                                <ul>
                                    <li><label>Paid Via</label>: Billplz</li>
                                    <li><label>Payment Date/Time</label>: 30 February 2020, 11:59 PM</li>
                                    <li><label>Transaction Reference Number</label>: 6WwyzlHti7f8Zg2zTVnm</li>
                                    <li><label>Total Amount Paid</label>: RM{{ (order.totalAmount / 100)|number_format(2, '.', ',') }}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /Wizard container -->
        </div>
        <!-- /content-right-->
    </div>
    <!-- /row-->

    <div class="d-none">
        <form id="email-form" method="post" action="{{ url('obw_pre_registration_email_order_details', {'code': obw_pre_registration.code|url_encode}) }}">
            {{ form_widget(email_form.email) }}
            {{ form_widget(email_form._token) }}
        </form>
    </div>
</div>
{% endblock %}
