<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pre-Registration Unavailable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            padding: 2em;
            font-family: Consolas, Menlo, "Courier New", Courier, monospace;
            word-spacing: -.15em;
            font-size: 100%;
            background-color: #2b2b2b;
        }
        h1, p {
            margin: 0 0 0.7em 0;
            font-size: 1em;
            line-height: 1.5;
            color: #fff;
        }
        h1 {
            font-weight: 700;
            font-size: 1.5em;
        }
        p {
            opacity: 0.8;
        }

        /*
         * Animation module with all animation code
         */
        .anim-text-flow,
        .anim-text-flow-hover:hover {
            /*
             * Animation variables
             */
            /*
             * Elements settings
             */
            /*
             * Keyframe loop
             */
            /*
             * Element animation delay loop
             */
        }
        .anim-text-flow span,
        .anim-text-flow-hover:hover span {
            -webkit-animation-name: anim-text-flow-keys;
            animation-name: anim-text-flow-keys;
            -webkit-animation-duration: 50s;
            animation-duration: 50s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        @-webkit-keyframes anim-text-flow-keys {
            0% {
                color: #5cd6ab;
            }
            2% {
                color: #9b5cd6;
            }
            4% {
                color: #5cd0d6;
            }
            6% {
                color: #5c93d6;
            }
            8% {
                color: #6c5cd6;
            }
            10% {
                color: #a75cd6;
            }
            12% {
                color: #d65ca3;
            }
            14% {
                color: #5cd672;
            }
            16% {
                color: #9b5cd6;
            }
            18% {
                color: #cad65c;
            }
            20% {
                color: #ca5cd6;
            }
            22% {
                color: #d0d65c;
            }
            24% {
                color: #d6a35c;
            }
            26% {
                color: #5ca9d6;
            }
            28% {
                color: #5c74d6;
            }
            30% {
                color: #d65c91;
            }
            32% {
                color: #855cd6;
            }
            34% {
                color: #c85cd6;
            }
            36% {
                color: #d4d65c;
            }
            38% {
                color: #5cd664;
            }
            40% {
                color: #d2d65c;
            }
            42% {
                color: #8b5cd6;
            }
            44% {
                color: #d2d65c;
            }
            46% {
                color: #5cd697;
            }
            48% {
                color: #d65cad;
            }
            50% {
                color: #d6665c;
            }
            52% {
                color: #d65c8f;
            }
            54% {
                color: #c6d65c;
            }
            56% {
                color: #76d65c;
            }
            58% {
                color: #d6d25c;
            }
            60% {
                color: #bed65c;
            }
            62% {
                color: #855cd6;
            }
            64% {
                color: #835cd6;
            }
            66% {
                color: #74d65c;
            }
            68% {
                color: #9dd65c;
            }
            70% {
                color: #5cd66c;
            }
            72% {
                color: #d65c81;
            }
            74% {
                color: #ce5cd6;
            }
            76% {
                color: #5cd6d0;
            }
            78% {
                color: #5c7ad6;
            }
            80% {
                color: #5cd69f;
            }
            82% {
                color: #5cd691;
            }
            84% {
                color: #a15cd6;
            }
            86% {
                color: #d65c5c;
            }
            88% {
                color: #5c5ed6;
            }
            90% {
                color: #5cd6c8;
            }
            92% {
                color: #c0d65c;
            }
            94% {
                color: #bcd65c;
            }
            96% {
                color: #91d65c;
            }
            98% {
                color: #b1d65c;
            }
            100% {
                color: #bad65c;
            }
        }
        @keyframes anim-text-flow-keys {
            0% {
                color: #5cd6ab;
            }
            2% {
                color: #9b5cd6;
            }
            4% {
                color: #5cd0d6;
            }
            6% {
                color: #5c93d6;
            }
            8% {
                color: #6c5cd6;
            }
            10% {
                color: #a75cd6;
            }
            12% {
                color: #d65ca3;
            }
            14% {
                color: #5cd672;
            }
            16% {
                color: #9b5cd6;
            }
            18% {
                color: #cad65c;
            }
            20% {
                color: #ca5cd6;
            }
            22% {
                color: #d0d65c;
            }
            24% {
                color: #d6a35c;
            }
            26% {
                color: #5ca9d6;
            }
            28% {
                color: #5c74d6;
            }
            30% {
                color: #d65c91;
            }
            32% {
                color: #855cd6;
            }
            34% {
                color: #c85cd6;
            }
            36% {
                color: #d4d65c;
            }
            38% {
                color: #5cd664;
            }
            40% {
                color: #d2d65c;
            }
            42% {
                color: #8b5cd6;
            }
            44% {
                color: #d2d65c;
            }
            46% {
                color: #5cd697;
            }
            48% {
                color: #d65cad;
            }
            50% {
                color: #d6665c;
            }
            52% {
                color: #d65c8f;
            }
            54% {
                color: #c6d65c;
            }
            56% {
                color: #76d65c;
            }
            58% {
                color: #d6d25c;
            }
            60% {
                color: #bed65c;
            }
            62% {
                color: #855cd6;
            }
            64% {
                color: #835cd6;
            }
            66% {
                color: #74d65c;
            }
            68% {
                color: #9dd65c;
            }
            70% {
                color: #5cd66c;
            }
            72% {
                color: #d65c81;
            }
            74% {
                color: #ce5cd6;
            }
            76% {
                color: #5cd6d0;
            }
            78% {
                color: #5c7ad6;
            }
            80% {
                color: #5cd69f;
            }
            82% {
                color: #5cd691;
            }
            84% {
                color: #a15cd6;
            }
            86% {
                color: #d65c5c;
            }
            88% {
                color: #5c5ed6;
            }
            90% {
                color: #5cd6c8;
            }
            92% {
                color: #c0d65c;
            }
            94% {
                color: #bcd65c;
            }
            96% {
                color: #91d65c;
            }
            98% {
                color: #b1d65c;
            }
            100% {
                color: #bad65c;
            }
        }
        .anim-text-flow span:nth-of-type(1),
        .anim-text-flow-hover:hover span:nth-of-type(1) {
            -webkit-animation-delay: -9.9s;
            animation-delay: -9.9s;
        }
        .anim-text-flow span:nth-of-type(2),
        .anim-text-flow-hover:hover span:nth-of-type(2) {
            -webkit-animation-delay: -9.8s;
            animation-delay: -9.8s;
        }
        .anim-text-flow span:nth-of-type(3),
        .anim-text-flow-hover:hover span:nth-of-type(3) {
            -webkit-animation-delay: -9.7s;
            animation-delay: -9.7s;
        }
        .anim-text-flow span:nth-of-type(4),
        .anim-text-flow-hover:hover span:nth-of-type(4) {
            -webkit-animation-delay: -9.6s;
            animation-delay: -9.6s;
        }
        .anim-text-flow span:nth-of-type(5),
        .anim-text-flow-hover:hover span:nth-of-type(5) {
            -webkit-animation-delay: -9.5s;
            animation-delay: -9.5s;
        }
        .anim-text-flow span:nth-of-type(6),
        .anim-text-flow-hover:hover span:nth-of-type(6) {
            -webkit-animation-delay: -9.4s;
            animation-delay: -9.4s;
        }
        .anim-text-flow span:nth-of-type(7),
        .anim-text-flow-hover:hover span:nth-of-type(7) {
            -webkit-animation-delay: -9.3s;
            animation-delay: -9.3s;
        }
        .anim-text-flow span:nth-of-type(8),
        .anim-text-flow-hover:hover span:nth-of-type(8) {
            -webkit-animation-delay: -9.2s;
            animation-delay: -9.2s;
        }
        .anim-text-flow span:nth-of-type(9),
        .anim-text-flow-hover:hover span:nth-of-type(9) {
            -webkit-animation-delay: -9.1s;
            animation-delay: -9.1s;
        }
        .anim-text-flow span:nth-of-type(10),
        .anim-text-flow-hover:hover span:nth-of-type(10) {
            -webkit-animation-delay: -9s;
            animation-delay: -9s;
        }
        .anim-text-flow span:nth-of-type(11),
        .anim-text-flow-hover:hover span:nth-of-type(11) {
            -webkit-animation-delay: -8.9s;
            animation-delay: -8.9s;
        }
        .anim-text-flow span:nth-of-type(12),
        .anim-text-flow-hover:hover span:nth-of-type(12) {
            -webkit-animation-delay: -8.8s;
            animation-delay: -8.8s;
        }
        .anim-text-flow span:nth-of-type(13),
        .anim-text-flow-hover:hover span:nth-of-type(13) {
            -webkit-animation-delay: -8.7s;
            animation-delay: -8.7s;
        }
        .anim-text-flow span:nth-of-type(14),
        .anim-text-flow-hover:hover span:nth-of-type(14) {
            -webkit-animation-delay: -8.6s;
            animation-delay: -8.6s;
        }
        .anim-text-flow span:nth-of-type(15),
        .anim-text-flow-hover:hover span:nth-of-type(15) {
            -webkit-animation-delay: -8.5s;
            animation-delay: -8.5s;
        }
        .anim-text-flow span:nth-of-type(16),
        .anim-text-flow-hover:hover span:nth-of-type(16) {
            -webkit-animation-delay: -8.4s;
            animation-delay: -8.4s;
        }
        .anim-text-flow span:nth-of-type(17),
        .anim-text-flow-hover:hover span:nth-of-type(17) {
            -webkit-animation-delay: -8.3s;
            animation-delay: -8.3s;
        }
        .anim-text-flow span:nth-of-type(18),
        .anim-text-flow-hover:hover span:nth-of-type(18) {
            -webkit-animation-delay: -8.2s;
            animation-delay: -8.2s;
        }
        .anim-text-flow span:nth-of-type(19),
        .anim-text-flow-hover:hover span:nth-of-type(19) {
            -webkit-animation-delay: -8.1s;
            animation-delay: -8.1s;
        }
        .anim-text-flow span:nth-of-type(20),
        .anim-text-flow-hover:hover span:nth-of-type(20) {
            -webkit-animation-delay: -8s;
            animation-delay: -8s;
        }
        .anim-text-flow span:nth-of-type(21),
        .anim-text-flow-hover:hover span:nth-of-type(21) {
            -webkit-animation-delay: -7.9s;
            animation-delay: -7.9s;
        }
        .anim-text-flow span:nth-of-type(22),
        .anim-text-flow-hover:hover span:nth-of-type(22) {
            -webkit-animation-delay: -7.8s;
            animation-delay: -7.8s;
        }
        .anim-text-flow span:nth-of-type(23),
        .anim-text-flow-hover:hover span:nth-of-type(23) {
            -webkit-animation-delay: -7.7s;
            animation-delay: -7.7s;
        }
        .anim-text-flow span:nth-of-type(24),
        .anim-text-flow-hover:hover span:nth-of-type(24) {
            -webkit-animation-delay: -7.6s;
            animation-delay: -7.6s;
        }
        .anim-text-flow span:nth-of-type(25),
        .anim-text-flow-hover:hover span:nth-of-type(25) {
            -webkit-animation-delay: -7.5s;
            animation-delay: -7.5s;
        }
        .anim-text-flow span:nth-of-type(26),
        .anim-text-flow-hover:hover span:nth-of-type(26) {
            -webkit-animation-delay: -7.4s;
            animation-delay: -7.4s;
        }
        .anim-text-flow span:nth-of-type(27),
        .anim-text-flow-hover:hover span:nth-of-type(27) {
            -webkit-animation-delay: -7.3s;
            animation-delay: -7.3s;
        }
        .anim-text-flow span:nth-of-type(28),
        .anim-text-flow-hover:hover span:nth-of-type(28) {
            -webkit-animation-delay: -7.2s;
            animation-delay: -7.2s;
        }
        .anim-text-flow span:nth-of-type(29),
        .anim-text-flow-hover:hover span:nth-of-type(29) {
            -webkit-animation-delay: -7.1s;
            animation-delay: -7.1s;
        }
        .anim-text-flow span:nth-of-type(30),
        .anim-text-flow-hover:hover span:nth-of-type(30) {
            -webkit-animation-delay: -7s;
            animation-delay: -7s;
        }
        .anim-text-flow span:nth-of-type(31),
        .anim-text-flow-hover:hover span:nth-of-type(31) {
            -webkit-animation-delay: -6.9s;
            animation-delay: -6.9s;
        }
        .anim-text-flow span:nth-of-type(32),
        .anim-text-flow-hover:hover span:nth-of-type(32) {
            -webkit-animation-delay: -6.8s;
            animation-delay: -6.8s;
        }
        .anim-text-flow span:nth-of-type(33),
        .anim-text-flow-hover:hover span:nth-of-type(33) {
            -webkit-animation-delay: -6.7s;
            animation-delay: -6.7s;
        }
        .anim-text-flow span:nth-of-type(34),
        .anim-text-flow-hover:hover span:nth-of-type(34) {
            -webkit-animation-delay: -6.6s;
            animation-delay: -6.6s;
        }
        .anim-text-flow span:nth-of-type(35),
        .anim-text-flow-hover:hover span:nth-of-type(35) {
            -webkit-animation-delay: -6.5s;
            animation-delay: -6.5s;
        }
        .anim-text-flow span:nth-of-type(36),
        .anim-text-flow-hover:hover span:nth-of-type(36) {
            -webkit-animation-delay: -6.4s;
            animation-delay: -6.4s;
        }
        .anim-text-flow span:nth-of-type(37),
        .anim-text-flow-hover:hover span:nth-of-type(37) {
            -webkit-animation-delay: -6.3s;
            animation-delay: -6.3s;
        }
        .anim-text-flow span:nth-of-type(38),
        .anim-text-flow-hover:hover span:nth-of-type(38) {
            -webkit-animation-delay: -6.2s;
            animation-delay: -6.2s;
        }
        .anim-text-flow span:nth-of-type(39),
        .anim-text-flow-hover:hover span:nth-of-type(39) {
            -webkit-animation-delay: -6.1s;
            animation-delay: -6.1s;
        }
        .anim-text-flow span:nth-of-type(40),
        .anim-text-flow-hover:hover span:nth-of-type(40) {
            -webkit-animation-delay: -6s;
            animation-delay: -6s;
        }
        .anim-text-flow span:nth-of-type(41),
        .anim-text-flow-hover:hover span:nth-of-type(41) {
            -webkit-animation-delay: -5.9s;
            animation-delay: -5.9s;
        }
        .anim-text-flow span:nth-of-type(42),
        .anim-text-flow-hover:hover span:nth-of-type(42) {
            -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
        }
        .anim-text-flow span:nth-of-type(43),
        .anim-text-flow-hover:hover span:nth-of-type(43) {
            -webkit-animation-delay: -5.7s;
            animation-delay: -5.7s;
        }
        .anim-text-flow span:nth-of-type(44),
        .anim-text-flow-hover:hover span:nth-of-type(44) {
            -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
        }
        .anim-text-flow span:nth-of-type(45),
        .anim-text-flow-hover:hover span:nth-of-type(45) {
            -webkit-animation-delay: -5.5s;
            animation-delay: -5.5s;
        }
        .anim-text-flow span:nth-of-type(46),
        .anim-text-flow-hover:hover span:nth-of-type(46) {
            -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
        }
        .anim-text-flow span:nth-of-type(47),
        .anim-text-flow-hover:hover span:nth-of-type(47) {
            -webkit-animation-delay: -5.3s;
            animation-delay: -5.3s;
        }
        .anim-text-flow span:nth-of-type(48),
        .anim-text-flow-hover:hover span:nth-of-type(48) {
            -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
        }
        .anim-text-flow span:nth-of-type(49),
        .anim-text-flow-hover:hover span:nth-of-type(49) {
            -webkit-animation-delay: -5.1s;
            animation-delay: -5.1s;
        }
        .anim-text-flow span:nth-of-type(50),
        .anim-text-flow-hover:hover span:nth-of-type(50) {
            -webkit-animation-delay: -5s;
            animation-delay: -5s;
        }
        .anim-text-flow span:nth-of-type(51),
        .anim-text-flow-hover:hover span:nth-of-type(51) {
            -webkit-animation-delay: -4.9s;
            animation-delay: -4.9s;
        }
        .anim-text-flow span:nth-of-type(52),
        .anim-text-flow-hover:hover span:nth-of-type(52) {
            -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
        }
        .anim-text-flow span:nth-of-type(53),
        .anim-text-flow-hover:hover span:nth-of-type(53) {
            -webkit-animation-delay: -4.7s;
            animation-delay: -4.7s;
        }
        .anim-text-flow span:nth-of-type(54),
        .anim-text-flow-hover:hover span:nth-of-type(54) {
            -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
        }
        .anim-text-flow span:nth-of-type(55),
        .anim-text-flow-hover:hover span:nth-of-type(55) {
            -webkit-animation-delay: -4.5s;
            animation-delay: -4.5s;
        }
        .anim-text-flow span:nth-of-type(56),
        .anim-text-flow-hover:hover span:nth-of-type(56) {
            -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
        }
        .anim-text-flow span:nth-of-type(57),
        .anim-text-flow-hover:hover span:nth-of-type(57) {
            -webkit-animation-delay: -4.3s;
            animation-delay: -4.3s;
        }
        .anim-text-flow span:nth-of-type(58),
        .anim-text-flow-hover:hover span:nth-of-type(58) {
            -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
        }
        .anim-text-flow span:nth-of-type(59),
        .anim-text-flow-hover:hover span:nth-of-type(59) {
            -webkit-animation-delay: -4.1s;
            animation-delay: -4.1s;
        }
        .anim-text-flow span:nth-of-type(60),
        .anim-text-flow-hover:hover span:nth-of-type(60) {
            -webkit-animation-delay: -4s;
            animation-delay: -4s;
        }
        .anim-text-flow span:nth-of-type(61),
        .anim-text-flow-hover:hover span:nth-of-type(61) {
            -webkit-animation-delay: -3.9s;
            animation-delay: -3.9s;
        }
        .anim-text-flow span:nth-of-type(62),
        .anim-text-flow-hover:hover span:nth-of-type(62) {
            -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
        }
        .anim-text-flow span:nth-of-type(63),
        .anim-text-flow-hover:hover span:nth-of-type(63) {
            -webkit-animation-delay: -3.7s;
            animation-delay: -3.7s;
        }
        .anim-text-flow span:nth-of-type(64),
        .anim-text-flow-hover:hover span:nth-of-type(64) {
            -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
        }
        .anim-text-flow span:nth-of-type(65),
        .anim-text-flow-hover:hover span:nth-of-type(65) {
            -webkit-animation-delay: -3.5s;
            animation-delay: -3.5s;
        }
        .anim-text-flow span:nth-of-type(66),
        .anim-text-flow-hover:hover span:nth-of-type(66) {
            -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
        }
        .anim-text-flow span:nth-of-type(67),
        .anim-text-flow-hover:hover span:nth-of-type(67) {
            -webkit-animation-delay: -3.3s;
            animation-delay: -3.3s;
        }
        .anim-text-flow span:nth-of-type(68),
        .anim-text-flow-hover:hover span:nth-of-type(68) {
            -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
        }
        .anim-text-flow span:nth-of-type(69),
        .anim-text-flow-hover:hover span:nth-of-type(69) {
            -webkit-animation-delay: -3.1s;
            animation-delay: -3.1s;
        }
        .anim-text-flow span:nth-of-type(70),
        .anim-text-flow-hover:hover span:nth-of-type(70) {
            -webkit-animation-delay: -3s;
            animation-delay: -3s;
        }
        .anim-text-flow span:nth-of-type(71),
        .anim-text-flow-hover:hover span:nth-of-type(71) {
            -webkit-animation-delay: -2.9s;
            animation-delay: -2.9s;
        }
        .anim-text-flow span:nth-of-type(72),
        .anim-text-flow-hover:hover span:nth-of-type(72) {
            -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
        }
        .anim-text-flow span:nth-of-type(73),
        .anim-text-flow-hover:hover span:nth-of-type(73) {
            -webkit-animation-delay: -2.7s;
            animation-delay: -2.7s;
        }
        .anim-text-flow span:nth-of-type(74),
        .anim-text-flow-hover:hover span:nth-of-type(74) {
            -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
        }
        .anim-text-flow span:nth-of-type(75),
        .anim-text-flow-hover:hover span:nth-of-type(75) {
            -webkit-animation-delay: -2.5s;
            animation-delay: -2.5s;
        }
        .anim-text-flow span:nth-of-type(76),
        .anim-text-flow-hover:hover span:nth-of-type(76) {
            -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
        }
        .anim-text-flow span:nth-of-type(77),
        .anim-text-flow-hover:hover span:nth-of-type(77) {
            -webkit-animation-delay: -2.3s;
            animation-delay: -2.3s;
        }
        .anim-text-flow span:nth-of-type(78),
        .anim-text-flow-hover:hover span:nth-of-type(78) {
            -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
        }
        .anim-text-flow span:nth-of-type(79),
        .anim-text-flow-hover:hover span:nth-of-type(79) {
            -webkit-animation-delay: -2.1s;
            animation-delay: -2.1s;
        }
        .anim-text-flow span:nth-of-type(80),
        .anim-text-flow-hover:hover span:nth-of-type(80) {
            -webkit-animation-delay: -2s;
            animation-delay: -2s;
        }
        .anim-text-flow span:nth-of-type(81),
        .anim-text-flow-hover:hover span:nth-of-type(81) {
            -webkit-animation-delay: -1.9s;
            animation-delay: -1.9s;
        }
        .anim-text-flow span:nth-of-type(82),
        .anim-text-flow-hover:hover span:nth-of-type(82) {
            -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
        }
        .anim-text-flow span:nth-of-type(83),
        .anim-text-flow-hover:hover span:nth-of-type(83) {
            -webkit-animation-delay: -1.7s;
            animation-delay: -1.7s;
        }
        .anim-text-flow span:nth-of-type(84),
        .anim-text-flow-hover:hover span:nth-of-type(84) {
            -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
        }
        .anim-text-flow span:nth-of-type(85),
        .anim-text-flow-hover:hover span:nth-of-type(85) {
            -webkit-animation-delay: -1.5s;
            animation-delay: -1.5s;
        }
        .anim-text-flow span:nth-of-type(86),
        .anim-text-flow-hover:hover span:nth-of-type(86) {
            -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
        }
        .anim-text-flow span:nth-of-type(87),
        .anim-text-flow-hover:hover span:nth-of-type(87) {
            -webkit-animation-delay: -1.3s;
            animation-delay: -1.3s;
        }
        .anim-text-flow span:nth-of-type(88),
        .anim-text-flow-hover:hover span:nth-of-type(88) {
            -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
        }
        .anim-text-flow span:nth-of-type(89),
        .anim-text-flow-hover:hover span:nth-of-type(89) {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }
        .anim-text-flow span:nth-of-type(90),
        .anim-text-flow-hover:hover span:nth-of-type(90) {
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
        }
        .anim-text-flow span:nth-of-type(91),
        .anim-text-flow-hover:hover span:nth-of-type(91) {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
        .anim-text-flow span:nth-of-type(92),
        .anim-text-flow-hover:hover span:nth-of-type(92) {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }
        .anim-text-flow span:nth-of-type(93),
        .anim-text-flow-hover:hover span:nth-of-type(93) {
            -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
        }
        .anim-text-flow span:nth-of-type(94),
        .anim-text-flow-hover:hover span:nth-of-type(94) {
            -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
        }
        .anim-text-flow span:nth-of-type(95),
        .anim-text-flow-hover:hover span:nth-of-type(95) {
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }
        .anim-text-flow span:nth-of-type(96),
        .anim-text-flow-hover:hover span:nth-of-type(96) {
            -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
        }
        .anim-text-flow span:nth-of-type(97),
        .anim-text-flow-hover:hover span:nth-of-type(97) {
            -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
        }
        .anim-text-flow span:nth-of-type(98),
        .anim-text-flow-hover:hover span:nth-of-type(98) {
            -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
        }
        .anim-text-flow span:nth-of-type(99),
        .anim-text-flow-hover:hover span:nth-of-type(99) {
            -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
        }
        .anim-text-flow span:nth-of-type(100),
        .anim-text-flow-hover:hover span:nth-of-type(100) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        .txt {
            display: block;
        }

    </style>
</head>
<body>
<script src="{{ asset('assets/registration/js/jquery-3.2.1.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('.txt').html(function(i, html) {
            var chars = $.trim(html).split("");

            return '<span>' + chars.join('</span><span>') + '</span>';
        });
    });
</script>
<h1 class="container" style="text-transform: uppercase;">
    <span class="txt anim-text-flow">OBW 2021 Pre-Registration Unavailable</span>
</h1>
<p>We're sorry for the inconvenience, but unfortunately the pre-registration is not available at this time.</p>
<p>Please check back later.</p>
<!-- Simply repeat <p> tags for additional details or contact information -->
</body>
</html>
