<span class="badge badge-
{%- if status == 'new' -%}
secondary
{%- elseif status == 'processing' -%}
primary
{%- elseif status == 'completed' -%}
success
{%- elseif status == 'cancelled' -%}
danger
{%- else -%}
warning
{%- endif -%}">
    {{ status|capitalize }}
</span>
