{% extends 'emails/base.html.twig' %}

{% block content %}
    <div class="">
        <!--[if mso]>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
        <![endif]-->
        <div style="color:#555555;line-height:180%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
            <div style="font-size:12px;line-height:22px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                <p style="margin: 0;font-size: 12px;line-height: 22px"><span
                            style="font-size: 18px; line-height: 32px;">Hi</span>,
                </p></div>
        </div>
        <!--[if mso]></td></tr></table><![endif]-->
    </div>

    <div class="">
        <!--[if mso]>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
        <![endif]-->
        <div style="color:#555555;line-height:180%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
            <div style="font-size:12px;line-height:22px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                <p style="margin: 0;font-size: 12px;line-height: 22px"><span
                            style="font-size: 14px; line-height: 25px;">You have been invited to register in OBW 2021 Portal. Please use the following code to register:</span>
                </p></div>
        </div>
        <!--[if mso]></td></tr></table><![endif]-->
    </div>

    <div class="">
        <!--[if mso]>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
        <![endif]-->
        <div style="color:#555555;line-height:180%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
            <div style="font-size:12px;line-height:22px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                <p style="margin: 0;font-size: 12px;line-height: 22px"><span
                            style="font-size: 24px; line-height: 25px; font-family:'Lucida Console', 'Courier New'; letter-spacing: 4px;" >{{ code }}</span>
                </p></div>
        </div>
        <!--[if mso]></td></tr></table><![endif]-->
    </div>

    <div class="">
        <!--[if mso]>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
        <![endif]-->
        <div style="color:#555555;line-height:180%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 15px;">
            <div style="font-size:12px;line-height:22px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                <p style="margin: 0;font-size: 12px;line-height: 22px"><span
                            style="font-size: 14px; line-height: 25px;">You can also click the following link to register with the code directly</span>
                </p></div>
        </div>
        <!--[if mso]></td></tr></table><![endif]-->
    </div>

    <div align="left" class="button-container left"
         style="padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:25px;">
        <!--[if mso]>
        <table width="100%" cellpadding="0" cellspacing="0" border="0"
               style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
            <tr>
                <td style="padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:25px;"
                    align="left">
                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml"
                                 xmlns:w="urn:schemas-microsoft-com:office:word"
                                 href="{{ url('fos_user_registration_register') }}?invite_code={{ code }}&email={{ email|url_encode }}"
                                 style="height:36pt; v-text-anchor:middle; width:156pt;"
                                 arcsize="9%" strokecolor="#2A52BE" fillcolor="#2A52BE">
                        <w:anchorlock/>
                        <v:textbox inset="0,0,0,0">
                            <center style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:16px;">
        <![endif]-->
        <a href="{{ url('fos_user_registration_register') }}?invite_code={{ code }}&email={{ email|url_encode }}" target="_blank"
           style="display: block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #ffffff; background-color: #2a52be; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 209px; width: 169px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 8px; padding-right: 20px; padding-bottom: 8px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;mso-border-alt: none">
                                            <span style="font-size:16px;line-height:32px;"><span
                                                        style="font-size: 14px; line-height: 28px;"
                                                        data-mce-style="font-size: 14px;">Create Account</span></span>
        </a>
        <!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
    </div>


{% endblock %}
