<form method="post" action="{{ path('invite_code_delete', {'id': invite_code.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invite_code.id) }}">
    <button class="btn">Delete</button>
</form>
