{% extends 'base.html.twig' %}

{% block page_title %}Invite Codes - Edit{% endblock page_title %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><span class="text-muted font-weight-light">Administration / Manage Invite Codes /</span> Edit</div>
    </h4>

    {{ include('admin/invite_code/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="mt-3">
        {{ include('admin/invite_code/_delete_form.html.twig') }}
    </div>
{% endblock %}
