{% extends 'base.html.twig' %}

{% block page_title %}Manage Invitation Codes{% endblock page_title %}

{% block page_vendor_stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/datatables/datatables.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">
{% endblock page_vendor_stylesheet %}

{% block page_vendor_javascript %}
    <script src="{{ asset('assets/vendor/libs/datatables/datatables.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
{% endblock page_vendor_javascript %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div class="mb-3 mb-md-0"><span class="text-muted font-weight-light">Administration / </span> {{ block('page_title') }}</div>
        <a href="{{ url('bulk_generate_invite_code') }}" class="btn btn-primary btn-round d-block">
            <span class="ion ion-md-flash"></span>&nbsp; Bulk Generate Codes</a></a>
    </h4>

    {% embed 'flash.html.twig' %}{% endembed %}

    <div class="card">
        <div class="card-datatable table-responsive">
            <table id="article-list" class="table table-bordered">
                <thead>
                <tr>
                    <th>Invite Code</th>
                    <th>Is Already Sent</th>
                    <th>Sent To</th>
                    <th>Sent On</th>
                    <th>Is Already Used</th>
                    <th>Used By</th>
                    <th>Used On</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for invite_code in invite_codes %}
                    <tr>
                        <td>{{ invite_code.code }}</td>
                        <td>{{ invite_code.isSent ? 'Yes' : 'No' }}</td>
                        <td>{{ invite_code.isSent ? invite_code.sentTo : 'Not sent' }}</td>
                        <td>{{ invite_code.isSent ? invite_code.sentOn|date('Y-m-d h:i A') : 'Not sent' }}</td>
                        <td>{{ invite_code.isAlreadyUsed ? 'Yes' : 'No' }}</td>
                        <td>{{ invite_code.isAlreadyUsed ? invite_code.user : 'Not used yet' }}</td>
                        <td>{{ invite_code.isAlreadyUsed ? invite_code.usedAt|date('Y-m-d h:i A') : 'Not used yet' }}</td>
                        <td>
                            {% if not invite_code.isSent and not invite_code.isAlreadyUsed %}
                                <a href="{{ path('send_invite_code', {'id': invite_code.id}) }}">Send</a>
                            {% elseif not invite_code.isAlreadyUsed %}
                                <a href="{{ path('resend_invite_code', {'id': invite_code.id}) }}">Resend</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_javascript %}
    <script type="text/javascript">

        $(function() {

            var dt = $('#article-list').dataTable({
                "order": [[1, "asc"], [ 4, "asc" ]]
            });

        });

    </script>
{% endblock %}
