{% extends 'base.html.twig' %}

{% block page_title %}Invite Codes - New{% endblock %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><span class="text-muted font-weight-light">System / Invite Codes /</span> Add</div>
    </h4>

    {{ include('admin/invite_code/_form.html.twig') }}
{% endblock %}
