{% extends 'base.html.twig' %}

{% block page_title %}Invite Codes - Send Invite Code{% endblock page_title %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><span class="text-muted font-weight-light">Administrations / Invite Codes /</span> Send</div>
    </h4>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Send') }}</button>
    {{ form_end(form) }}

{% endblock %}
