{% extends 'base.html.twig' %}

{% block title %}InviteCode{% endblock %}

{% block body %}
    <h1>InviteCode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invite_code.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ invite_code.code }}</td>
            </tr>
            <tr>
                <th>IsAlreadyUsed</th>
                <td>{{ invite_code.isAlreadyUsed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ invite_code.created ? invite_code.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ invite_code.updated ? invite_code.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ invite_code.deleted ? invite_code.deleted|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('invite_code_index') }}">back to list</a>

    <a href="{{ path('invite_code_edit', {'id': invite_code.id}) }}">edit</a>

    {{ include('invite_code/_delete_form.html.twig') }}
{% endblock %}
