<!DOCTYPE html>

<html lang="en" class="material-style">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>{% block page_title %}{% endblock %} - OBW2021</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <meta name="theme-color" content="#ffffff">

    <!-- Main font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900"
          rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <!-- <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css"> -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/ionicons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/linearicons.css') }}">
    <!-- <link rel="stylesheet" href="assets/vendor/fonts/open-iconic.css"> -->
    <!-- <link rel="stylesheet" href="assets/vendor/fonts/pe-icon-7-stroke.css"> -->

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/bootstrap-material.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/appwork-material.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/theme-twitlight-material.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/colors-material.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/uikit.css') }}">

    <!-- Load polyfills -->
    <script src="{{ asset('assets/vendor/js/polyfills.js') }}"></script>
    <script>document['documentMode'] === 10 && document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>

    <!-- Material ripple -->
    <script src="{{ asset('assets/vendor/js/material-ripple.js') }}"></script>
    <script>window.attachMaterialRippleOnLoad();</script>

    <!-- Layout helpers -->
    <script src="{{ asset('assets/vendor/js/layout-helpers.js') }}"></script>

    <!-- PACE.js loader -->
    <script src="{{ asset('assets/vendor/js/pace.js') }}"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/select2/select2.css') }}">

    <!-- `perfect-scrollbar` library required by SideNav plugin -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}">

    {% block page_vendor_stylesheet %}{% endblock page_vendor_stylesheet %}

    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

    <!-- Page -->
    {% block page_stylesheet %}{% endblock page_stylesheet %}

    <!-- Core scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendor/js/sidenav.js') }}"></script>

    <!-- Libs -->
    <script src="{{ asset('assets/vendor/libs/bs-custom-file-input/bs-custom-file-input.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/select2/select2.js') }}"></script>

    <!-- `perfect-scrollbar` library required by SideNav plugin -->
    <script src="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

    {% block page_vendor_javascript %}{% endblock page_vendor_javascript %}

    <!-- Main script -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
    {% block page_javascript %}{% endblock page_javascript %}
</head>
<body>

<!-- PACE.js loader -->
<div class="page-loader">
    <div class="bg-twitter"></div>
</div>

{% block layout_wrapper %}
<!-- Layout wrapper -->
<div class="layout-wrapper layout-1">
    <!-- Layout inner -->
    <div class="layout-inner">

        <!-- Layout navbar -->
        <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-navbar-theme container-p-x"
             id="layout-navbar">

            <div class="app-brand mr-4">
                <a href="{{ url('admin_dashboard') }}" class="app-brand-text sidenav-text text-big ml-2" style="color: #7AD7F9;">
                    OBW 2021<br>
                    <span class="text-tiny font-weight-semibold opacity-25">STAR 9701</span>
                </a>
            </div>

            <!-- Sidenav toggle -->
            <div class="layout-sidenav-toggle navbar-nav align-items-lg-center mr-auto mr-lg-4">
                <a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)">
                    <i class="ion ion-md-menu text-large align-middle"></i>
                </a>
            </div>

            <!-- Navbar toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="layout-navbar-collapse">

                {% if app.user %}
                <div class="navbar-nav ml-auto d-flex justify-content-center align-items-end align-items-md-center">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
                          <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                            <img src="{{ app.user.profile.image.name ? (vich_uploader_asset(app.user.profile, 'imageFile') | imagine_filter('profile_image_thumb')) : asset('assets/images/default_profile_image.png') }}" alt="{{ app.user }} Profile Image" class="d-block ui-w-30 rounded-circle">
                            <span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{ app.user }}</span>
                          </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ url('fos_user_profile_edit') }}">
                                <i class="ion ion-md-settings text-secondary"></i> &nbsp;
                                Account Settings
                            </a>
                            <a class="dropdown-item" href="{{ url('fos_user_change_password') }}">
                                <i class="ion ion-ios-key text-secondary"></i> &nbsp;
                                Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('fos_user_security_logout') }}">
                                <i class="ion ion-ios-log-out text-danger"></i> &nbsp;
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="navbar-nav ml-auto d-flex justify-content-center align-items-end align-items-md-center">
                    <a class="nav-item nav-link" href="{{ url('fos_user_security_login') }}">{% trans from 'navigation' %}login{% endtrans %}</a>
                </div>
                {% endif %}

            </div>

        </nav>
        <!-- / Layout navbar -->

        <div class="layout-container">
            <!-- Layout sidenav -->
            <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-sidenav-theme">
                {{ knp_menu_render('main', {'template': 'knp_menu_bs4_sidenav.html.twig', 'currentClass': 'active open', 'ancestorClass': 'active open'}) }}
            </div>
            <!-- / Layout sidenav -->

            <div class="layout-content">

                <!-- Page content -->
                <div class="container-fluid flex-grow-1 container-p-y">
                    {% block content %}
                        <h4 class="font-weight-bold py-3 mb-4">Page 1</h4>
                        <p>Page content.</p>
                        <p>
                            <button class="btn btn-primary btn-lg">Button</button>
                        </p>
                    {% endblock content %}
                </div>
                <!-- / Page content -->

                <!-- Layout footer -->
                <nav class="layout-footer footer bg-footer-theme">
                    <div class="container-fluid container-p-x pb-3 d-flex flex-column flex-md-row justify-content-center align-items-center">
                        <div class="pt-3">
                            <span class="footer-text font-weight-lighter">STAR 9701 💖 Made in Ipoh, Perak</span>
                        </div>
                        {#<div class="pt-3">
                            <span class="footer-text font-weight-lighter">
                                {% if app.request.locale == 'en' %}
                                    <a href="{{ url('change_language', {'language': 'ms'}) }}">Tukar Bahasa</a>
                                {% else %}
                                    <a href="{{ url('change_language', {'language': 'en'}) }}">Change Language</a>
                                {% endif %}
                            </span>
                        </div>#}
                    </div>
                </nav>
                <!-- / Layout footer -->

            </div>
        </div>

    </div>
    <!-- Layout inner -->

    <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->
{% endblock layout_wrapper %}

</body>
</html>
