{% for message in app.flashes('success') %}
    <div class="alert alert-success{{ no_margin|default(false) ? ' mb-0' : '' }}">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger{{ no_margin|default(false) ? ' mb-0' : '' }}">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('import-error') %}
    <div class="alert alert-danger{{ no_margin|default(false) ? ' mb-0' : '' }}">
        {{ message.message }}

        <ul class="mb-0 mt-3">
            {% for item in message.items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}

{% for message in app.flashes('info') %}
    <div class="alert alert-info{{ no_margin|default(false) ? ' mb-0' : '' }}">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="alert alert-warning{{ no_margin|default(false) ? ' mb-0' : '' }}">
        {{ message }}
    </div>
{% endfor %}
