{% extends 'base.html.twig' %}

{% block page_title %}Edit Batch "{{ star_batch }}"{% endblock %}

{% block page_vendor_stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css') }}">
{% endblock page_vendor_stylesheet %}

{% block page_vendor_javascript %}
    <script src="{{ asset('assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
{% endblock page_vendor_javascript %}

{% block page_javascript %}
    {{ include('admin/star_batch/_form_javascript.html.twig') }}
{% endblock %}

{% block content %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4 flex-column flex-md-row">
        <div class="mb-3 mb-md-0"><span class="text-muted font-weight-light">STAR / Batch / </span> {{ block('page_title') }}</div>
    </h4>

    {{ include('admin/star_batch/_form.html.twig') }}
{% endblock %}
