{% extends 'base.html.twig' %}

{% block title %}StarBatch{% endblock %}

{% block content %}
    <h1>StarBatch</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ star_batch.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ star_batch.name }}</td>
            </tr>
            <tr>
                <th>YearStart</th>
                <td>{{ star_batch.yearStart ? star_batch.yearStart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>YearEnd</th>
                <td>{{ star_batch.yearEnd ? star_batch.yearEnd|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('star_batch_index') }}">back to list</a>

    <a href="{{ path('star_batch_edit', {'id': star_batch.id}) }}">edit</a>

    {{ include('admin/star_batch/_delete_form.html.twig') }}
{% endblock %}
